/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/
.overallDiv {
    position: relative;
}
.imageDiv {
    height: 180px;
    overflow: hidden;
}
  
.tagDiv {
    position: absolute;
    top: 0;
    right: 0;
}

.column {
    float: left;
    width: 50%;
  }
  
  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
  }
  